<?xml version="1.0" encoding="utf-8"?>

<!-- Para obter mais informações sobre como usar a transformação do Web.config, visite https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    No exemplo abaixo, a transformação "SetAttributes" alterará o valor de
    "connectionString" para usar "ReleaseSQLServer" apenas quando o localizador "Match" 
    encontrar um atributo "name" que tenha um valor de "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="promocaoagoraEntities" connectionString="metadata=res://*/Models.promoagora.csdl|res://*/Models.promoagora.ssdl|res://*/Models.promoagora.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5030.site4now.net;initial catalog=DB_9AD53D_promoagora;User Id=DB_9AD53D_promoagora_admin;Password=promoXNow2Agora;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="actualhost" value="https://www.promocaoagora.com.br" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      No exemplo abaixo, a transformação "Replace" vai substituir toda a seção
      <customErrors> do seu arquivo Web.config.
      Observe que como há somente uma seção customErrors no nó 
      <system.web>, não há necessidade de usar o atributo "xdt:Locator".

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
