
@{
    ViewBag.Title = "Adicionar à Tela Inicial";
}
<div class="mt-2">
    <a class="" href="/site/">Página Inicial</a> <i class="fa fa-angle-double-right"></i>
    <strong>Como adicionar o site à tela inicial do seu celular</strong>
</div>
<div class="mt-4">
    <div class="row">
        <div class="col-3">
            @*<img src="http://via.placeholder.com/60x60">*@
            <div class="box2" style="background:url('/icone192x192.png');background-repeat: no-repeat; background-size: 58px 58px; width:60px; height:60px;">

            </div>
            @*<img src="~/icone192x192.png" />*@
        </div>
        <div class="col-9 pl-0">
            <strong>Adicione esse ícone na tela de início do seu celular</strong>
        </div>
    </div>
    <hr/>
    <div id="android">
        <strong>No Android</strong>
        <ol>
            <li>
                <p>No Chrome, clique nesse item do menu mostrado abaixo:</p>
                <img src="~/Content/img/addtohomeAndroid1.png" />
            </li>
            <li>
                <p>Em seguida, clique em Adicionar à tela inicial:</p>
                <img src="~/Content/img/addtohomeAndroid2.png" />
            </li>
            <li>
                <p>E pronto, o ícone do site estará aparecendo na tela de início do seu celular:</p>
                <img src="~/Content/img/addtohomeAndroid3.png" width="100%" />
            </li>
        </ol>

    </div>
</div>
