
@{
    ViewBag.Title = "CadastroCliente";
}
<div class="mt-2">
    

    <div class="mt-2">
        <a class="" href="/site/">Página Inicial</a> >>
        <span class="">Cadastro</span>
    </div>

    <h2 class="mt-2">Cadastro</h2>
    
        <div class="mt-3">
            <div class="row mt-2">
                <div class="col-md-9">

                    <div class="card">
                        <h4 class="card-header">
                            Cadastro do Usuário
                        </h4>
                        <div class="card-body p-4">
                            <fieldset id="FdcadastroUsuario">
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <p><strong>Novo Cadastro</strong></p>
                                        <input type="text" id="txt_nome" class="w-100 mb-2" placeholder="Nome" /><br />
                                        <input type="email" id="txt_Email" class="w-100 mb-2" placeholder="Email" />
                                        <input type="password" id="txt_senha" class="w-100 mb-2" placeholder="Senha" />
                                        <button id="btn-cadastroUsuario" class="btn btn-primary">CADASTRO</button>
                                    </div>
                                    <div class="col-md-6 borderleft mt-1 mt-md-0">
                                        <p><strong>Ou logue-se, caso já tenha feito cadastro:</strong></p>
                                        <input type="email" id="txt_logEmail" class="w-100 mb-2" placeholder="Email" />
                                        <input type="password" id="txt_logSenha" class="w-100 mb-2" placeholder="Senha" />
                                        <button id="btn-cadastroUsuario" class="btn btn-primary">LOGIN</button>
                                    </div>
                                </div>
                            </fieldset>

                        </div>
                    </div>

                    <div class="card mt-4">
                        <h4 class="card-header laranja f-branca">
                            Dados da Promoção
                        </h4>
                        <div class="card-body p-4">
                            <fieldset id="FdcadastroPromocao">
                                <label>Título do Anúncio</label><br />
                                <input type="text" id="txt_titAnuncio" class="w-100 mb-2" placeholder="" /><br />
                                <label>Texto do Anúncio</label><br />
                                <textarea rows="3" id="txt_textAnuncio" class="w-100 mb-2" placeholder=""></textarea>
                                <div class="row">
                                    <div class="col-md-5">
                                        <label>Preço com promoção</label><br />
                                        <input type="text" id="txt_prcComPromo" class="w-100 mb-2" placeholder="" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Preço sem promoção</label><br />
                                        <input type="text" id="txt_prcSemPromo" class="w-100 mb-2" placeholder="" />
                                    </div>
                                    <div class="col-md-3">
                                        <label>Desconto</label><br />
                                        <strong class="f20r">0% Off</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 mb-2">
                                        <label>Período da promoção</label><br />
                                        <input type="date" id="txt_perIniPromo" class="" /> a 
                                        <input type="date" id="txt_perFimPromo" class="" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Categoria</label><br />
                                        <select id="sel_categoria" class="w-100 mb-2">
                                            <option value="A">Alimentação</option>
                                            <option value="C">Casa e Escritório</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Tipo de Anúncio</label><br />
                                        <select id="sel_tipoAnuncio" class="w-100 mb-2">
                                            <option value="L">Anúncio Local</option>
                                            <option value="W">Anúncio Web</option>
                                            <option value="W">Anúncio Local e Web</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="mb-2 font-weight-bold">Como Usar o Código de Promoção:</div>
                                    <input type="checkbox" id="chk_Cvendedor" class="mb-3" value="x" /> <strong>No Local</strong> - O Cliente deve apresentar o Código da Promoção no ato da compra ao vendedor/atendente. <br/>
                                    <input type="checkbox" id="chk_Cemail" class="mb-3" value="x" /> <strong>No Telefone</strong> -  O Cliente ao ligar deve mencionar o Código de Promoção. <br/>
                                    <input type="checkbox" id="chk_Cemail" class="mb-3" value="x" /> <strong>No Site</strong> - O Cliente deverá clicar no link da promoção.<br />
                                    <input type="checkbox" id="chk_Cemail" class="mb-3" value="x" /> <strong>No Email</strong> -  O Cliente deve enviar o email com o pedido e o Código de Promoção.<br />
                                </div>
                            </fieldset>

                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    FAQ
                </div>
            </div>
        </div>

   

</div>