
@{
    ViewBag.Title = "FAQ - Promoção Agora";
}

<div class="mt-2">
    <a class="" href="/site/">Página Inicial</a> <i class="fa fa-angle-double-right"></i>
    <strong>Perguntas Frequentes</strong>
</div>
<div class="mt-4">
    <h2 dir="ltr">FAQ - Perguntas Frequentes</h2>
    <div class="row">
        <div class="col-md-8 p-3">

            <h5 data-toggle="collapse" data-target="#resp1" aria-expanded="true" aria-controls="resp1" class="faq">É realmente gratuito para a minha empresa?</h5>
            
            <p class="collapse show" id="resp1" aria-expanded="true">Sim, não há nenhum custo para colocar um anúncio básico no Promoção Agora. Nem cobramos nenhuma taxa ou comissão numa venda. É totalmente gratuito.</p>

            <h5 data-toggle="collapse" data-target="#resp2" aria-expanded="false" aria-controls="resp2" class="faq mt-3">Não possuo empresa, posso anunciar meu negócio?</h5>
            <p class="collapse" id="resp2">Sim, o anúncio de uma promoção pode ser feito por pessoa física ou jurídica. Ou seja, se você possui um pequeno negócio (ex. faz doces para vender), poderá criar uma promoção sem nenhuma restrição no site.</p>

            <h5 data-toggle="collapse" data-target="#resp3" aria-expanded="false" aria-controls="resp3" class="faq mt-3">Qual é o prazo máximo de veiculação da promoção anunciada?</h5>
            <p class="collapse" id="resp3">O prazo máximo é de 3 meses, após isso, o anunciante deve retornar ao site para extender o prazo por mais 3 meses se desejar.</p>

            <h5 data-toggle="collapse" data-target="#resp4" aria-expanded="false" aria-controls="resp4" class="faq mt-3">Posso ter mais de uma promoção da minha empresa?</h5>
            <p class="collapse" id="resp4">Sim, você pode ter até no máximo 3 anúncios veiculados ao mesmo tempo. </p>

        </div>
        <div class="col-md-4">
            <strong>Ainda tem dúvidas?</strong>
            <p>
                Olá, caso sua dúvida não esteja respondida nesse FAQ, envie nos na seção: 
                <a href="/site/faleconosco">Fale Conosco</a>
            </p>
        </div>
    </div>
</div>



