
@{
    ViewBag.Title = "Promocao";
}

<div class="">
    <div class="mt-2">
        <a class="" href="/site/">Página Inicial</a> /
        <span class="">Xpto Soluções</span>
    </div>
    <div class="mt-2 mt-md-4">
        <h2>Thermas de Olímpia Resort/SP: até 7 noites para 2 adultos e Cortesia para até 3 Crianças de até 12 anos em até 12x. Alta Temporada 2018! - 30% Off</h2>
        <div class="row mt-2 mt-md-5">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-auto hidden-md-down">
                        <img class="imgw80" src="~/Content/img/alimentacao.jpg" alt="">
                    </div>
                    <div class="col-md-10">
                        <div class="hidden-md-up"><a href="#sobre">Sobre a Promoção</a> | <a href="#como">Como Usar?</a></div>
                        <span class="font-weight-bold"><a name="sobre">Sobre a promoção:</a></span><br/>
                        <span>
                            Amphitrite cingebant inter super pontus pinus zonae ipsa cepit vindice innabilis nuper membra formaeque fluminaque congeriem fossae premuntur cingebant securae piscibus rectumque quinta recepta nullo meis vindice occiduo matutinis campos modo ventos ut rectumque glomeravit zonae fratrum dicere coeperunt corpora frigore discordia aetas aberant iussit formaeque aberant mundo pulsant egens litora bene dextra lucis ligavit: flamma locavit tanto nubibus ut fuit ensis proxima induit ante vindice est videre tumescere natura astra ambitae mundi calidis undis emicuit minantia adsiduis ab fontes locoque umor caelo vis in quanto melior tumescere aestu imagine aetas deducite concordi lege quam quae omnia suis volucres solum fabricator aeris.
                        </span>
                        <div class="row mt-md-2">
                            <div class="col-md py-2">
                                Preço: <span class=" f20r f-verde">R$ 499,99</span>
                            </div>
                            <div class="col-md">
                                <div class="box1 text-center">
                                   <span>Código da Promoção:</span> <br/>
                                    <span><a href="#">Cadastre-se para desbloquar o código</a></span>
                                </div>
                            </div>
                        </div>

                        <div class="py-2">
                            <strong>Empresa:</strong><br />
                            <span>Xpto Soluções</span>
                        </div>

                        <div class="py-2">
                            <strong>Local:</strong><br />
                            <span>Av. Lúcio Costa, 7000 - Barra da Tijuca - Rio de Janeiro, RJ</span><br/>
                            <a href="https://www.google.com.br/maps/-22.9503488,-43.343949,15z">Ver mapa (Google Maps)</a>
                        </div>https://www.google.com.br/maps/place/Av.+L%C3%BAcio+Costa,+7000+-+Barra+da+Tijuca,+Rio+de+Janeiro+-+RJ,+22795-006/@-23.0108446,-43.3716252,17z/data=!3m1!4b1!4m5!3m4!1s0x9bdbab201d8a81:0xc9563ee7bec1bdf1!8m2!3d-23.0108446!4d-43.3694365

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <a name="como"><h4>Como Usar:</h4></a>
                    <ol>
                        <li>Cadastre-se para desbloquear o código de promoção</li>
                        <li>Apresente o código da promoção para o vendedor ou a pessoa que vier lhe atender.</li>
                    </ol>
</div>
        </div>

        
    </div>
</div>
