
@{
    ViewBag.Title = "Termos";
}
<style type="text/css">
    html, input, textarea, blockquote, q {
        font-family: arial,sans-serif;
        font-size:14px;
    }

    h2{
        font-size:16px;
        font-weight:bold;
        margin-top:20px;
    }

</style>
<div class="mt-2">
    <a class="" href="/site/">Página Inicial</a> <i class="fa fa-angle-double-right"></i>
    <strong>Termos</strong>
</div>
<div class="mt-4">
    <h1 dir="ltr">Termos de Servi&ccedil;o do Promo&ccedil;&atilde;o Agora</h1>

    <p dir="ltr"><strong>&Uacute;ltima modifica&ccedil;&atilde;o: 25 de fevereiro de 2018</strong></p>

    <h2 dir="ltr" class="pt-2">Bem-vindo ao Promo&ccedil;&atilde;o Agora!</h2>

    <p dir="ltr">Agradecemos por usar nossos produtos e servi&ccedil;os (&ldquo;Servi&ccedil;os&rdquo;). Os Servi&ccedil;os ser&atilde;o fornecidos pelo Promo&ccedil;&atilde;o Agora Ltda (&ldquo;Promo&ccedil;&atilde;o Agora&rdquo;), localizado em Av. Tenente Coronel Muniz e Arag&atilde;o, 71 - Rio de Janeiro - RJ, Brasil.</p>

    <p dir="ltr">Ao usar nossos Servi&ccedil;os, voc&ecirc; est&aacute; concordando com estes termos. Leia-os com aten&ccedil;&atilde;o.</p>

    <p dir="ltr">Nossos Servi&ccedil;os s&atilde;o muito diversos, portanto, &agrave;s vezes, podem aplicar-se termos adicionais ou exig&ecirc;ncias de produtos (inclusive exig&ecirc;ncias de idade). Os termos adicionais estar&atilde;o dispon&iacute;veis com os Servi&ccedil;os relevantes e esses termos adicionais se tornar&atilde;o parte de nosso contrato com voc&ecirc;, caso voc&ecirc; use esses Servi&ccedil;os.</p>

    <h2 dir="ltr">Como usar nossos Servi&ccedil;os</h2>

    <p dir="ltr">&Eacute; preciso que voc&ecirc; siga as pol&iacute;ticas disponibilizadas a voc&ecirc; dentro dos Servi&ccedil;os.</p>

    <p dir="ltr">N&atilde;o fa&ccedil;a uso indevido de nossos Servi&ccedil;os. Por exemplo, n&atilde;o interfira com nossos Servi&ccedil;os nem tente acess&aacute;-los por um m&eacute;todo diferente da interface e das instru&ccedil;&otilde;es que fornecemos. Voc&ecirc; pode usar nossos servi&ccedil;os somente conforme permitido por lei, inclusive leis e regulamentos de controle de exporta&ccedil;&atilde;o e reexporta&ccedil;&atilde;o. Podemos suspender ou deixar de fornecer nossos Servi&ccedil;os se voc&ecirc; descumprir nossos termos ou pol&iacute;ticas ou se estivermos investigando casos de suspeita de m&aacute; conduta.</p>

    <p dir="ltr">O uso de nossos Servi&ccedil;os n&atilde;o lhe confere a propriedade sobre direitos de propriedade intelectual sobre os nossos Servi&ccedil;os ou sobre o conte&uacute;do que voc&ecirc; acessar. Voc&ecirc; n&atilde;o pode usar conte&uacute;dos de nossos Servi&ccedil;os a menos que obtenha permiss&atilde;o do propriet&aacute;rio de tais conte&uacute;dos ou que o fa&ccedil;a por algum meio permitido por lei. Estes termos n&atilde;o conferem a voc&ecirc; o direito de usar quaisquer marcas ou logotipos utilizados em nossos Servi&ccedil;os. N&atilde;o remova, oculte ou altere quaisquer avisos legais exibidos em ou junto a nossos Servi&ccedil;os.</p>

    <p dir="ltr">Nossos Servi&ccedil;os exibem alguns conte&uacute;dos que n&atilde;o s&atilde;o do Promo&ccedil;&atilde;o Agora. Esses conte&uacute;dos s&atilde;o de exclusiva responsabilidade da entidade que os disponibiliza. Podemos revisar conte&uacute;do para determinar se &eacute; ilegal ou se infringe nossas pol&iacute;ticas, e podemos remover ou nos recusar a exibir conte&uacute;dos que razoavelmente acreditamos violar nossas pol&iacute;ticas ou a lei. Mas isso n&atilde;o significa, necessariamente, que revisaremos conte&uacute;dos, portanto por favor, n&atilde;o presuma que o faremos.</p>

    <p dir="ltr">Em rela&ccedil;&atilde;o com seu uso dos Servi&ccedil;os, podemos enviar-lhe an&uacute;ncios de servi&ccedil;os, mensagens administrativas e outras informa&ccedil;&otilde;es. Voc&ecirc; pode desativar algumas dessas comunica&ccedil;&otilde;es.</p>

    <p dir="ltr">Alguns dos nossos Servi&ccedil;os est&atilde;o dispon&iacute;veis em dispositivos m&oacute;veis. O usu&aacute;rio n&atilde;o deve utilizar tais Servi&ccedil;os de forma que o distraia ou o impe&ccedil;a de cumprir leis de tr&acirc;nsito ou de seguran&ccedil;a.</p>

    <h2 dir="ltr">Sua Conta do Promo&ccedil;&atilde;o Agora</h2>

    <p dir="ltr">Talvez voc&ecirc; precise criar uma Conta do Promo&ccedil;&atilde;o Agora para utilizar alguns dos nossos Servi&ccedil;os. Voc&ecirc; poder&aacute; criar sua pr&oacute;pria Conta do Promo&ccedil;&atilde;o Agora ou sua Conta do Promo&ccedil;&atilde;o Agora poder&aacute; ser atribu&iacute;da a voc&ecirc; por um administrador, como seu empregador ou institui&ccedil;&atilde;o de ensino. Se voc&ecirc; estiver usando uma Conta do Promo&ccedil;&atilde;o Agora atribu&iacute;da a voc&ecirc; por um administrador, termos diferentes ou adicionais podem aplicar-se e seu administrador poder&aacute; ser capaz de acessar ou desativar sua conta.</p>

    <p dir="ltr">Para proteger sua Conta do Promo&ccedil;&atilde;o Agora, o usu&aacute;rio deve manter a senha em sigilo. A atividade realizada na Conta do Promo&ccedil;&atilde;o Agora ou por seu interm&eacute;dio &eacute; de responsabilidade do usu&aacute;rio. N&atilde;o recomendamos que a senha da Conta do Promo&ccedil;&atilde;o Agora seja reutilizada em aplicativos de terceiros.</p>

    <h2 dir="ltr">Prote&ccedil;&atilde;o &agrave; Privacidade e aos Direitos Autorais</h2>

    <p dir="ltr">As <a href="/site/politicaprivacidade">Pol&iacute;ticas de Privacidade do Promo&ccedil;&atilde;o</a> Agora explicam o modo como tratamos seus dados pessoais e protegemos sua privacidade quando voc&ecirc; usa nossos Servi&ccedil;os. Ao utilizar nossos Servi&ccedil;os, voc&ecirc; concorda que o Promo&ccedil;&atilde;o Agora poder&aacute; usar esses dados de acordo com nossas pol&iacute;ticas de privacidade.</p>

    <p dir="ltr">N&oacute;s respondemos &agrave;s notifica&ccedil;&otilde;es de alega&ccedil;&atilde;o de viola&ccedil;&atilde;o de direitos autorais e encerramos contas de infratores reincidentes de acordo com os procedimentos estabelecidos na Lei.</p>

    <p dir="ltr">Fornecemos informa&ccedil;&otilde;es para ajudar os detentores de direitos autorais a gerenciarem sua propriedade intelectual on-line. Caso voc&ecirc; entenda que algu&eacute;m est&aacute; violando seus direitos autorais e quiser nos notificar, voc&ecirc; pode encontrar informa&ccedil;&otilde;es sobre o envio de notifica&ccedil;&otilde;es e sobre a pol&iacute;tica do Promo&ccedil;&atilde;o Agora para respond&ecirc;-las em nossa Central de Ajuda.</p>

    <h2 dir="ltr">Seu Conte&uacute;do em nossos Servi&ccedil;os</h2>

    <p dir="ltr">Alguns de nossos Servi&ccedil;os permitem que voc&ecirc; fa&ccedil;a upload, submeta, armazene, envie ou receba conte&uacute;do. Voc&ecirc; mant&eacute;m a propriedade de quaisquer direitos de propriedade intelectual que voc&ecirc; detenha sobre aquele conte&uacute;do. Em resumo, aquilo que pertence a voc&ecirc;, permanece com voc&ecirc;.</p>

    <p dir="ltr">Quando voc&ecirc; faz upload, submete, armazena, envia ou recebe conte&uacute;do a nossos Servi&ccedil;os ou por meio deles, voc&ecirc; concede ao Promo&ccedil;&atilde;o Agora (e &agrave;queles com quem trabalhamos) uma licen&ccedil;a mundial para usar, hospedar, armazenar, reproduzir, modificar, criar obras derivadas (como aquelas resultantes de tradu&ccedil;&otilde;es, adapta&ccedil;&otilde;es ou outras altera&ccedil;&otilde;es que fazemos para que seu conte&uacute;do funcione melhor com nossos Servi&ccedil;os), comunicar, publicar, executar e exibir publicamente e distribuir tal conte&uacute;do. Os direitos que voc&ecirc; concede nesta licen&ccedil;a s&atilde;o para os fins restritos de opera&ccedil;&atilde;o, promo&ccedil;&atilde;o e melhoria de nossos Servi&ccedil;os e de desenvolver novos Servi&ccedil;os. Essa licen&ccedil;a perdura mesmo que voc&ecirc; deixe de usar nossos Servi&ccedil;os (por exemplo, um cadastro da empresa que voc&ecirc; adicionou ao Promo&ccedil;&atilde;o Agora). Alguns Servi&ccedil;os podem oferecer-lhe modos de acessar e remover conte&uacute;dos que foram fornecidos para aquele Servi&ccedil;o. Al&eacute;m disso, em alguns de nossos Servi&ccedil;os, existem termos ou configura&ccedil;&otilde;es que restringem o escopo de nosso uso do conte&uacute;do enviado nesses Servi&ccedil;os. Certifique-se de que voc&ecirc; tem os direitos necess&aacute;rios para nos conceder a licen&ccedil;a de qualquer conte&uacute;do que voc&ecirc; enviar a nossos Servi&ccedil;os.</p>

    <p dir="ltr">Nossos sistemas automatizados analisam o seu conte&uacute;do (incluindo e-mails) para fornecer recursos de produtos pessoalmente relevantes para voc&ecirc;, como resultados de pesquisa customizados, propagandas personalizadas e detec&ccedil;&atilde;o de spam e malware. Essa an&aacute;lise ocorre &agrave; medida que o conte&uacute;do &eacute; enviado e recebido, e quando ele &eacute; armazenado.</p>

    <p dir="ltr">Se o usu&aacute;rio tiver uma Conta do Promo&ccedil;&atilde;o Agora, o nome e a foto do perfil, bem como as a&ccedil;&otilde;es realizadas em aplicativos do Promo&ccedil;&atilde;o Agora ou de terceiros que estejam conectados a essa Conta do Promo&ccedil;&atilde;o Agora (como avalia&ccedil;&otilde;es e coment&aacute;rios postados), poder&atilde;o aparecer em nossos Servi&ccedil;os, inclusive para exibi&ccedil;&atilde;o em an&uacute;ncios e em outros contextos comerciais. As op&ccedil;&otilde;es do usu&aacute;rio para limitar as configura&ccedil;&otilde;es de compartilhamento ou visibilidade na Conta do Promo&ccedil;&atilde;o Agora ser&atilde;o respeitadas. Por exemplo, o usu&aacute;rio pode alterar as configura&ccedil;&otilde;es de modo que seu nome e foto n&atilde;o apare&ccedil;am em an&uacute;ncios.</p>

    <p dir="ltr">Voc&ecirc; pode encontrar mais informa&ccedil;&otilde;es sobre como o Promo&ccedil;&atilde;o Agora usa e armazena conte&uacute;do na pol&iacute;tica de privacidade ou termos adicionais de Servi&ccedil;os espec&iacute;ficos. Se voc&ecirc; enviar coment&aacute;rios ou sugest&otilde;es sobre nossos Servi&ccedil;os, podemos usar seus coment&aacute;rios ou sugest&otilde;es sem obriga&ccedil;&atilde;o para voc&ecirc;.</p>

    <h2 dir="ltr">Sobre Software em nossos Servi&ccedil;os</h2>

    <p dir="ltr">Quando um Servi&ccedil;o exige ou inclui software dispon&iacute;vel para download, tal software poder&aacute; atualizar-se automaticamente em seu dispositivo se uma nova vers&atilde;o ou recurso estiver dispon&iacute;vel. Alguns Servi&ccedil;os podem permitir que voc&ecirc; ajuste suas configura&ccedil;&otilde;es de atualiza&ccedil;&otilde;es autom&aacute;ticas.</p>

    <p dir="ltr">O Promo&ccedil;&atilde;o Agora concede a voc&ecirc; uma licen&ccedil;a pessoal, mundial, n&atilde;o exclusiva, intransfer&iacute;vel e isenta de royalties para o uso do software fornecido pelo Promo&ccedil;&atilde;o Agora como parte dos Servi&ccedil;os. Essa licen&ccedil;a tem como &uacute;nico objetivo permitir que voc&ecirc; use e aproveite o benef&iacute;cio dos Servi&ccedil;os, tal como fornecidos pelo Promo&ccedil;&atilde;o Agora, da forma permitida por estes termos. Voc&ecirc; n&atilde;o poder&aacute; copiar, modificar, distribuir, vender ou alugar qualquer parte de nossos Servi&ccedil;os ou o software incluso, nem poder&aacute; fazer engenharia reversa ou tentar extrair o c&oacute;digo fonte desse software, exceto nos casos em que a legisla&ccedil;&atilde;o proibir tais restri&ccedil;&otilde;es, ou quando voc&ecirc; tiver nossa permiss&atilde;o por escrito.</p>

    <p dir="ltr">Software de c&oacute;digo aberto &eacute; importante para n&oacute;s. Alguns dos softwares usados em nossos Servi&ccedil;os podem ser oferecidos sob uma licen&ccedil;a de c&oacute;digo aberto que colocaremos a sua disposi&ccedil;&atilde;o. Pode haver disposi&ccedil;&otilde;es na licen&ccedil;a de c&oacute;digo aberto que substituam expressamente alguns desses termos.</p>

    <h2 dir="ltr">Como modificar e cancelar nossos Servi&ccedil;os</h2>

    <p dir="ltr">Estamos constantemente alterando e melhorando nossos Servi&ccedil;os. Podemos incluir ou remover funcionalidades ou recursos e podemos tamb&eacute;m suspender ou encerrar um Servi&ccedil;o por completo.</p>

    <p dir="ltr">Voc&ecirc; pode deixar de usar nossos Servi&ccedil;os a qualquer momento, embora fiquemos chateados ao ver voc&ecirc; ir embora. O Promo&ccedil;&atilde;o Agora tamb&eacute;m poder&aacute; deixar de prestar os Servi&ccedil;os a voc&ecirc; ou, incluir ou criar novos limites a nossos Servi&ccedil;os a qualquer momento.</p>

    <p dir="ltr">Acreditamos que voc&ecirc; seja o propriet&aacute;rio dos seus dados e que &eacute; importante preservar seu acesso a esses dados. Se descontinuarmos um Servi&ccedil;o, quando razoavelmente poss&iacute;vel, voc&ecirc; ser&aacute; informado com anteced&ecirc;ncia razo&aacute;vel e ter&aacute; a chance de retirar as suas informa&ccedil;&otilde;es daquele Servi&ccedil;o.</p>

    <h2 dir="ltr">Nossas Garantias e Isen&ccedil;&otilde;es de Responsabilidade</h2>

    <p dir="ltr">Fornecemos nossos Servi&ccedil;os usando um n&iacute;vel comercialmente razo&aacute;vel de capacidade e cuidado e esperamos que voc&ecirc; aproveite seu uso deles. Mas existem algumas coisas que n&atilde;o prometemos sobre nossos Servi&ccedil;os.</p>

    <p dir="ltr">Exceto quando expressamente previsto nestes termos ou em termos adicionais, nem o Promo&ccedil;&atilde;o Agora, nem seus fornecedores ou distribuidores oferecem quaisquer garantias sobre os Servi&ccedil;os. Por exemplo, n&atilde;o nos responsabilizamos pelos conte&uacute;dos nos Servi&ccedil;os, por funcionalidades espec&iacute;ficas dos Servi&ccedil;os, ou pela confiabilidade, disponibilidade ou capacidade de atender suas necessidades. Fornecemos os servi&ccedil;os &ldquo;na forma em que est&atilde;o&rdquo;.</p>

    <p dir="ltr">Certas jurisdi&ccedil;&otilde;es prev&ecirc;em de determinadas garantias, como a garantia de comerciabilidade impl&iacute;cita, adequa&ccedil;&atilde;o a uma finalidade espec&iacute;fica e n&atilde;o viola&ccedil;&atilde;o. Na medida permitida por lei, exclu&iacute;mos todas as garantias.</p>

    <h2 dir="ltr">Responsabilidade pelos nossos Servi&ccedil;os</h2>

    <p dir="ltr">Quando permitido por lei, o Promo&ccedil;&atilde;o Agora e os fornecedores ou distribuidores do Promo&ccedil;&atilde;o Agora n&atilde;o ser&atilde;o respons&aacute;veis por perda de lucros, perda de receita, perda de dados, perdas financeiras ou por danos indiretos, especiais, consequenciais, exemplares ou punitivos.</p>

    <p dir="ltr">Na medida permitida por lei, a responsabilidade total do Promo&ccedil;&atilde;o Agora e de seus fornecedores e distribuidores, para qualquer reclama&ccedil;&atilde;o sob estes termos, incluindo quaisquer garantias impl&iacute;citas, limita-se ao valor que voc&ecirc; pagou ao Promo&ccedil;&atilde;o Agora para usar os Servi&ccedil;os (ou, a nosso crit&eacute;rio, para fornecer a voc&ecirc; os Servi&ccedil;os novamente).</p>

    <p dir="ltr">Em todos os casos, o Promo&ccedil;&atilde;o Agora e seus fornecedores e distribuidores n&atilde;o ser&atilde;o respons&aacute;veis por qualquer perda ou dano que n&atilde;o seja razoavelmente previs&iacute;vel.</p>

    <p dir="ltr">Reconhecemos que, em alguns pa&iacute;ses, voc&ecirc; pode ter direitos legais como consumidor. Caso voc&ecirc; esteja usando os Servi&ccedil;os com objetivos pessoais, ent&atilde;o nada nestes termos ou em quaisquer termos adicionais limitar&atilde;o direitos de consumidor que n&atilde;o possam ser renunciados por contrato.</p>

    <h2 dir="ltr">Usos comerciais de nossos Servi&ccedil;os</h2>

    <p dir="ltr">Se voc&ecirc; estiver usando nossos Servi&ccedil;os em nome de uma empresa, tal empresa aceita estes termos. Ela isentar&aacute; de responsabilidade e indenizar&aacute; o Promo&ccedil;&atilde;o Agora e suas afiliadas, executivos, agentes e trabalhadores de qualquer reivindica&ccedil;&atilde;o, processo ou a&ccedil;&atilde;o judicial proveniente de ou relacionado ao uso dos Servi&ccedil;os ou &agrave; viola&ccedil;&atilde;o destes termos, incluindo qualquer responsabilidade ou despesa resultante de reivindica&ccedil;&otilde;es, perdas, danos, processos, julgamentos, custos de lit&iacute;gio e honor&aacute;rios advocat&iacute;cios.</p>

    <h2 dir="ltr">Sobre estes Termos</h2>

    <p dir="ltr">Podemos modificar estes termos ou quaisquer termos adicionais que sejam aplic&aacute;veis a um Servi&ccedil;o para, por exemplo, refletir altera&ccedil;&otilde;es da lei ou mudan&ccedil;as em nossos Servi&ccedil;os. Voc&ecirc; deve consultar os termos regularmente. Postaremos avisos sobre modifica&ccedil;&otilde;es nesses termos nesta p&aacute;gina. Publicaremos um aviso de altera&ccedil;&atilde;o sobre os termos adicionais dentro do Servi&ccedil;o aplic&aacute;vel. As altera&ccedil;&otilde;es n&atilde;o ser&atilde;o aplicadas retroativamente e entrar&atilde;o em vigor pelo menos quatorze dias ap&oacute;s sua publica&ccedil;&atilde;o. Entretanto, altera&ccedil;&otilde;es a respeito de novas funcionalidades de um Servi&ccedil;o ou altera&ccedil;&otilde;es feitas por raz&otilde;es legais entrar&atilde;o em vigor imediatamente. Se voc&ecirc; n&atilde;o concordar com os termos alterados de um Servi&ccedil;o, deve descontinuar o uso desse Servi&ccedil;o.</p>

    <p dir="ltr">Em caso de conflito entre estes termos e os termos adicionais, os termos adicionais prevalecer&atilde;o com rela&ccedil;&atilde;o a esse conflito.</p>

    <p dir="ltr">Estes termos regem a rela&ccedil;&atilde;o entre o Promo&ccedil;&atilde;o Agora e voc&ecirc;. Eles n&atilde;o criam quaisquer direitos para terceiros.</p>

    <p dir="ltr">Caso voc&ecirc; n&atilde;o cumpra estes termos e n&oacute;s n&atilde;o tomemos provid&ecirc;ncias imediatas, isso n&atilde;o significa que estamos renunciando a quaisquer direitos que possamos ter (como tomar provid&ecirc;ncias futuras).</p>

    <p dir="ltr">Caso uma condi&ccedil;&atilde;o espec&iacute;fica destes termos n&atilde;o seja execut&aacute;vel, isso n&atilde;o prejudicar&aacute; quaisquer outros termos.</p>

    <p dir="ltr">Para obter informa&ccedil;&otilde;es sobre como entrar em contato com o Promo&ccedil;&atilde;o Agora, por favor visite nossa p&aacute;gina de contato.</p>

    <p>&nbsp;</p>

</div>

